//main: style.scss
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  li{
    margin: 0 6px 0 0;
  }
  & > li >  a{
      color: #333;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 35px;
      padding: 0 22px;
      text-decoration: none;
      transition: color .1s linear 0s,background .1s linear 0s;
      &:hover{
        background: #333;
        color: #fff;
      }
  }
  .active > a{
    color: white;
    background: $red;
    &:hover{
      color: white;
      background: $red;
    }
  }

  &__dropdown:hover{
    background: #333;

    .drop-menu{
      display: block;
    }

    a{
      color: white;
    }
  }
  &--fixed{
	    position: fixed;
	    top: 0;
	    width: 100%;
	}
}
